     p  {color:PowderBlue;font-family:Arial}
     li {color:PowderBlue;font-family:Arial}
     h2  {color:aqua;font-family:Arial}
     h1  {color:violet;font-family:Arial}
     h3  {color:MediumSlateBlue;font-family:Arial}
    body {background-color:indigo;font-family:Arial}
     a  {color:aqua;font-family:Arial}
img {width: 400px;height: 300px;}
